<h3><a href="{{ '/atom.xml' | relative_url }}">Subscribe to the Atom feed.</a></h3>

<ul>
  {% if site.disablecategoires == true %}
    {% for post in site.posts %}
      <li>
        {% if site.classicnews == true %}
          <p>
            <a href="{{ post.url }}">
              <b>{{ post.title }} ({{ post.dateS }}). </b>
            </a>
            {{ post.excerpt | strip_html }}
          </p>
        {% else %}
          <a href="{{ post.url }}">
            <b>{{ post.title }} ({{ post.dateS }}). </b>
          </a>
          {{ post.excerpt }}
        {% endif %}
      </li>
    {% endfor %}
  {% else %}
    {% for category in site.categories %}
      {% capture category_name %}{{category | first}}{% endcapture %}
      <li>
        <p>
          <a href="#{{category_name}}">{{category_name}}</a>
        </p>
      </li>
    {% endfor %}
  {% endif %}
</ul>

{% for category in site.categories %}
  <h2 id="{{category_name}}">{{category_name}}</h2>
  <ul>
    {% capture category_name %}{{ category | first }}{% endcapture %}
    {% for post in site.categories[category_name] %}
      <li>
        {% if site.classicnews == true %}
            <p>
              <a href="{{ post.url }}">
              <b>{{ post.title }} ({{ post.dateS }}). </b>
              </a>
              {{ post.excerpt | strip_html }}
            </p>
        {% else %}
            <a href="{{ post.url }}">
              <b>{{ post.title }} ({{ post.dateS }}). </b>
            </a>
            {{ post.excerpt }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endfor %}