// Code Block Colours
$LIGHTcodeColour: #fff;
$DARKcodeColour: #fff;
$LIGHTcodebgColour: #353230;
$DARKcodebgColour: #353230;

// Main Colours
$LIGHTbgColour: #fff;
$DARKbgColour: #000;
$accentColour: #f62c43;

// Header Colours (also uses $accentColour)
$headerTextColour: #000;

// Image Borders
$LIGHTborderColour: #000;
$DARKborderColour: #fff;
$borderType: solid;
$borderSize: 2.5px;

// Navigation Colours
$navColour: #000;

// Text Colours
$LIGHTtextColour: #000;
$DARKtextColour: #fff;
$LIGHTlinkColour: #000;
$LIGHTlinkHoverColour: #f62c43;
$DARKlinkColour: #fff;
$DARKlinkHoverColour: #f62c43;

// Typography & Misc.
$codeFont: 'IBM Plex Mono', monospace;
$codeFont-var: 'IBM Plex Mono', monospace; // Might break if nothing is here
$font: 'Inter', sans-serif;
$font-var: 'Inter', sans-serif; // Might break if nothing is here
$font-regular: 400;
$font-bold: 700;

// Font imports were moved to ../_config.yml