// Code Block Colours
$LIGHTcodeColour: #fff;
$LIGHTcodebgColour: #353230;
$DARKcodeColour: #fff;
$DARKcodebgColour: #353230;
$codeFont: 'IBM Plex Mono', monospace;
$codeFont-var: '';

// Main Colours
$LIGHTbgColour: #fff;
$DARKbgColour: #000;
$accentColour: #f62c43;

// Header Colours (also uses $accentColour)
$headerTextColour: #000;

// Image Borders
$LIGHTborderColour: #000;
$DARKborderColour: #fff;
$borderType: solid;
$borderSize: 2.5px;

// Navigation Colours
$navColour: #000;
$navHoverColour: #fff;

// Text Colours
$LIGHTtextColour: #000;
$LIGHTlinkColour: #000;
$LIGHTlinkHoverColour: #f62c43;
$DARKtextColour: #fff;
$DARKlinkColour: #fff;
$DARKlinkHoverColour: #f62c43;
$LIGHTnewsLinkColour: #f62c43;
$DARKnewsLinkColour: #f62c43;

// Typography & Misc.
$font: 'Inter', sans-serif;
$font-var: 'Inter var', sans-serif;
$font-regular: 400;
$font-bold: 700;
$font-italic: italic;
$breakColour: #fff;

// Font imports were moved to ../_config.yml