// Import configuration
@charset "utf-8";
@import "config";

// Light and Dark Themes for Mobile
@media (prefers-color-scheme: light) {
    html {
        background: $LIGHTbgColour;
        color: $LIGHTtextColour;
    }
    a {
        color: $LIGHTlinkColour;
    }
    a:hover {
        color: $LIGHTlinkHoverColour;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background: $DARKbgColour;
        color: $DARKtextColour;
    }
    a {
        color: $DARKlinkColour;
    }
    a:hover {
        color: $DARKlinkHoverColour;
    }
}

// Lists on Pages
.container li, ul {
    word-wrap: normal;
}

// Site Header (_includes/site-header.html)
.header {
    background: $accentColour;
    color: $headerTextColour;
    width: 100%;
    padding-bottom: 2em;
}

.nav_logo {
    width: 4em;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
}

.navLink {
    padding: .25em 1em 1em .25em;
    text-decoration: none;
    color: $navColour;
}

.navLink:hover { color: $navHoverColour; }

.header h1 {
    font-weight: $font-regular;
    font-size: 4.5em;
}

// Site Footer (_includes/site-footer.html)

.copyright {
    font-size: .75em;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
}

// Typography and Misc.

body {
    font-family: $font;
    font-weight: $font-regular;
    font-size: 1.125em;
    margin: -20px 0px 8px 0px;
}

.container {
    margin: 1em auto;
    max-width: 40em;
}

.center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    width: 100%;
}

a { transition: color 500ms; }
hr { color: $breakColour; }
.bold { font-weight: $font-bold; }