// Import configuration
@import "config";

// Auto Light and Dark Theme as Declared by Browser/OS
// (defaults to light theme; changed by browser/OS)
a { 
  color: $LIGHTlinkColour; 
  :hover { color: $LIGHTlinkHoverColour; }
}
.highlight {
  background: $LIGHTcodebgColour;
  color: $LIGHTcodeColour;
}
html {
  background: $LIGHTbgColour;
  color: $LIGHTtextColour;
}
.news-text:hover { color: $LIGHTnewsLinkColour;}

@media (prefers-color-scheme: dark) {
  a { 
    color: $DARKlinkColour; 
    :hover { color: $DARKlinkHoverColour; }
  }
  .highlight {
    background: $DARKcodebgColour;
    color: $DARKcodeColour;
  }
  html {
    background: $DARKbgColour;
    color: $DARKtextColour;
  }
  .news-text:hover { color: $DARKnewsLinkColour;}
}

// Site Header (_includes/site-header.html)
.header {
  background: $accentColour;
  color: $headerTextColour;
  padding-bottom: 2em;
  max-height: 32.5vh;

  h1 {
    flex: 0 0 auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    font-weight: $font-regular;
  }
}

// Site Content (_layouts/page[-notitle].html)

.container {
  padding-left: 1em;
  padding-right: 1em;
}

// Site Footer (_includes/site-footer.html)

.copyright {
  font-size: .75em; 
  a { text-decoration: underline; }
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

// Typography and Misc.

.container {
  max-width: 40em;

  margin-top: 1em;
}

.centre {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;

  text-align: center;
}

a { transition: color 250ms; }
hr { color: $breakColour; }
.bold { font-weight: $font-bold; }
html, 
body {
  height: 100%;
  width: 100%;
}

// Images
img:before {
  display: none;

  content: '';
} // Hack from https://stackoverflow.com/a/980948

// Unsorted
.news-text { 
  text-decoration: none;
  :hover {
    color: $LIGHTnewsLinkColour;
    transition: color 250ms ease-in-out;
  }
}

// Floats
.l { float: left; }
.r { float: right; }

// ---

// Document Prep
* {
  margin: 0;
  padding: 0;
}

// Typography
@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 40px;
    margin-left: -1px;
  }
  h2 {
    font-size: 21px;
    letter-spacing: 0;
    margin-left: 0;
  }
  h3 {
    font-size: 17px;
    letter-spacing: 0;
  }
  h4, h5, h6 { font-size: 16px; }
}

body {
  font-family: $font;
  font-weight: $font-regular;
  
  @supports (font-variation-settings: normal) {
    font-family: $font-var;
  }
}

// Code blocks
.highlight {
  font-family: $codeFont;
  
  @supports (font-variation-settings: normal) {
    font-family: $codeFont-var;
  }

  padding: .5vh 1vh .5vh 1vh;
}

// Navigation
header {
  display: flex;
  background: $accentColour;
  justify-content: space-between;
  height: 100px;
  * {
    font-size: 14px;
    cursor: default;
  }
  h1 {
    flex: 0 0 auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img { display: block; }
  }
  a {
    background: none;
    :hover {
      color: $navhovercolour;
      background: none;
    }
  }
}

.logo { display: block; }
nav {
  ul {
    flex: 0 0 auto;
    margin: 0;
    text-align: left;
    display: flex;
    li {
      list-style: none;
      margin:0;
      padding:0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      :first-child { margin-left: 0; }
      a {
        cursor: pointer;
        padding: 0 0.8em;
        color: $navcolour;
        text-decoration: none;
        :hover {
          color: $navhovercolour;
          text-decoration: none;
        }
      }
      :last-child { a { padding-right: 0; } }
    }
  }
}