<!doctype html>{% if site.lang != "" %}
<html lang="{{site.lang}}">
{% else %}
<html>
{% endif %}<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer, same-origin">
    {% for item in site.font-import %}
    <link rel="stylesheet" href="{{item}}">
    {% endfor %}
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    {% if site.favicon != "" %}
    <link rel="shortcut icon" href="{{ site.favicon }}">
    <link rel="icon" href="{{site.favicon}}">
    <link rel="apple-touch-icon" href="{{site.favicon}}">
    {% endif %}
    {% include verifications.html %}
    {% include seo.html %}
    {% include csp.html %}
  </head>
  <body>
    {{ content }}
  </body>
</html>