<!doctype html>{% if site.lang != "" %}
<html lang="{{site.lang}}">
{% else %}
<html>
{% endif %}<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include csp.html %}
    <meta name="referrer" content="no-referrer, same-origin">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta property="og:title" content="{{page.title}} - {{site.title}}">{% if site.lang != "" %}
    <meta property="og:locale" content="{{site.lang}}">
    {% endif %}{% if page.description != "" %}
    <meta name="description" content="{{page.description}}">
    <meta property="og:description" content="{{page.description}}">
    <meta name="twitter:description" content="{{page.description}}">{% elsif site.description != "" %}<meta name="description" content="{{site.description}}">
    <meta property="og:description" content="{{site.description}}">
    <meta name="twitter:description" content="{{site.description}}">{% endif %}{% for item in site.font-import %}
    <link rel="stylesheet" href="{{item}}">{% endfor %}
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    {% if site.favicon != "" %}<link rel="shortcut icon" href="{{ site.favicon }}">{% endif %}
    {% include verifications.html %}
  </head>
  <body>
    {{ content }}
  </body>
</html>